@font-face {
  font-family: "MarmeladRegular";
  src: url("../fonts/MarmeladRegular/MarmeladRegular.eot");
  src: url("../fonts/MarmeladRegular/MarmeladRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MarmeladRegular/MarmeladRegular.woff") format("woff"), url("../fonts/MarmeladRegular/MarmeladRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0px auto;
  padding: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'LatoRegular';
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
.cfix:before,
.cfix:after {
  content: " ";
  display: table;
}
.cfix:after {
  clear: both;
}
.container {
  max-width: 1600px;
  width: 100%;
  padding: 0px 20px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row {
  position: relative;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
input[type="submit"],
fieldset {
  border: 0;
  background: 0 0;
}
a,
a:hover,
a:visited,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}
a img {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.bold,
strong,
b {
  font-weight: normal;
  font-family: 'RobotoBold';
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.displnone {
  display: none;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.visible {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 1600px) {
  .container {
    max-width: 1350px;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
}
html {
  height: 100%;
}
#landing body {
  height: 100%;
}
#landing h1,
#landing h2,
#landing h3 {
  font-weight: normal;
  font-family: 'MarmeladRegular';
  color: #021b47;
}
#landing p,
#landing .text,
#landing .subtitle,
#landing .title,
#landing .name,
#landing .job,
#landing a {
  color: #021b47;
}
#landing button {
  cursor: pointer;
  color: #fff;
  font-family: 'MarmeladRegular';
  border: 0px;
}
#landing section.regular {
  padding: 90px 0px;
}
#landing section h1,
#landing section h2 {
  text-align: center;
  font-size: 72px;
}
#landing section .subtitle {
  text-align: center;
  font-size: 30px;
  font-family: 'LatoRegular';
  padding: 25px 0px 25px 0px;
}
#landing #first .width-wrapper {
  max-width: 600px;
}
#landing #first header {
  padding: 20px 0px;
}
#landing #first header .logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#landing #first header .menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#landing #first header .menu .width-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#landing #first header .menu a {
  margin: 0;
  display: block;
  font-family: 'RobotoBold';
}
#landing #first header .menu img {
  margin: 0;
  display: block;
}
#landing #first .about-container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 140px 0px 90px 0px;
}
#landing #first .about {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#landing #first .about h1 {
  margin-bottom: 60px;
  text-align: left;
}
#landing #first .about p {
  font-size: 24px;
  margin-bottom: 20px;
}
#landing #first .about button {
  margin-top: 40px;
  font-size: 28px;
}
#landing #first .mesh {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
#landing #second {
  background: #021b47;
  text-align: center;
}
#landing #second .inner {
  padding: 0px 80px;
}
#landing #second .title {
  font-size: 44px;
  padding-top: 25px;
  padding-bottom: 35px;
}
#landing #second .title h3 {
  color: #fff;
}
#landing #second .text {
  font-size: 36px;
  color: #fff;
}
#landing #second .slick-arrow.slick-prev {
  background-position: 0px -158px;
}
#landing #second .slick-arrow.slick-next {
  background-position: -56px -158px;
}
#landing #second .slider[active="2"] .slick-arrow.slick-prev {
  background-position: 0px 0px;
}
#landing #second .slider[active="2"] .slick-arrow.slick-next {
  background-position: -56px 0px;
}
#landing #second .slider[active="3"] .slick-arrow.slick-prev {
  background-position: 0px -316px;
}
#landing #second .slider[active="3"] .slick-arrow.slick-next {
  background-position: -56px -316px;
}
#landing #second .slick-slider .slick-dots li:nth-child(2).slick-active button:before {
  color: #f06292;
}
#landing #second .slick-slider .slick-dots li:nth-child(3).slick-active button:before {
  color: #42a5f5;
}
#landing #third {
  background: #f9f9f9;
}
#landing #third .slider-elem .inner {
  max-width: 440px;
  padding: 0px 20px;
}
#landing #third .slider-elem .wrapper {
  background: #fff;
  padding-bottom: 35px;
  overflow: hidden;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 50px rgba(2,27,71,0.07);
  box-shadow: 0 0 50px rgba(2,27,71,0.07);
}
#landing #third .slider-elem .image {
  width: 100%;
  height: 215px;
  background-repeat: no-repeat;
  background-size: cover;
}
#landing #third .slider-elem .content {
  max-width: 330px;
  text-align: center;
  padding: 0px 10px;
}
#landing #third .slider-elem .title {
  padding: 30px 0px;
  font-size: 24px;
  line-height: 1.5;
}
#landing #third .slider-elem .text {
  font-size: 18px;
  font-family: 'LatoLight';
  line-height: 1.8;
  margin-bottom: 25px;
}
#landing #third .slider-elem .content {
  min-height: 308px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#landing #third .bee-button {
  font-size: 28px;
  background-position: 0px -68px;
}
#landing #third .bee-button.help-button-1 {
  background-position: 0px -68px;
}
#landing #third .bee-button.help-button-2 {
  background-position: 0px -141px;
}
#landing #third .bee-button.help-button-3 {
  background-position: 0px -211px;
}
#landing #fourth {
  background: #fff;
}
#landing #fourth .slider-elem .content {
  min-height: 335px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#landing #fourth .slider-elem .content .action {
  width: 100%;
}
#landing #fourth .slider-elem .inner {
  max-width: 440px;
  padding: 0px 20px;
}
#landing #fourth .slider-elem .wrapper {
  background: #fff;
  padding-bottom: 35px;
  overflow: hidden;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 50px rgba(2,27,71,0.07);
  box-shadow: 0 0 50px rgba(2,27,71,0.07);
}
#landing #fourth .slider-elem .image {
  width: 100%;
  height: 215px;
  background-repeat: no-repeat;
  background-size: cover;
}
#landing #fourth .slider-elem .content {
  max-width: 330px;
  text-align: center;
  padding: 0px 10px;
}
#landing #fourth .slider-elem .title {
  padding: 30px 0px;
  font-size: 24px;
  line-height: 1.5;
}
#landing #fourth .slider-elem .text {
  font-size: 18px;
  font-family: 'LatoLight';
  line-height: 1.8;
  margin-bottom: 25px;
}
#landing #fourth .slider-elem .action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#landing #fourth .slider-elem .action p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
}
#landing #fourth .slider-elem .action .honeycombs-count {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#landing #fourth .slider-elem .action .honeycombs-count .honeycombs-badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 22px;
  font-size: 28px;
  color: #fff;
  width: 138px;
  height: 54px;
  background: url("../images/badges.png") no-repeat;
  background-position: 0px 0px;
}
#landing #fourth .slider-elem .action .honeycombs-count .honeycombs-badge.badge-2 {
  background-position: 0px -66px;
}
#landing #fourth .slider-elem .action .honeycombs-count .honeycombs-badge.badge-3 {
  background-position: 0px -133px;
}
#landing #fiveth {
  background: #f9f9f9;
}
#landing #fiveth .subtitle {
  padding-bottom: 45px;
}
#landing #fiveth .slider-elem .inner {
  text-align: center;
  height: 170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#landing #fiveth .slider-elem .inner img {
  max-width: 100%;
}
#landing #sixth {
  background: #fff;
}
#landing #sixth .slider-elem .inner {
  max-width: 440px;
  padding: 0px 20px;
}
#landing #sixth .slider-elem .wrapper {
  background: #fff;
  padding-bottom: 35px;
  overflow: hidden;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 50px rgba(2,27,71,0.07);
  box-shadow: 0 0 50px rgba(2,27,71,0.07);
}
#landing #sixth .slider-elem .image {
  width: 100%;
  height: 215px;
  background-repeat: no-repeat;
  background-size: cover;
}
#landing #sixth .slider-elem .content {
  max-width: 330px;
  text-align: center;
  padding: 0px 10px;
}
#landing #sixth .slider-elem .title {
  padding: 30px 0px;
  font-size: 24px;
  line-height: 1.5;
}
#landing #sixth .slider-elem .text {
  font-size: 18px;
  font-family: 'LatoLight';
  line-height: 1.8;
  margin-bottom: 25px;
}
#landing #sixth .slider-elem .content {
  min-height: 252px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#landing #sixth .slider-elem .content .action {
  width: 100%;
}
#landing #sixth .slider-elem .content .job {
  min-height: 45px;
}
#landing #sixth .slider-elem .text {
  line-height: normal;
}
#landing #sixth .slider-elem .wrapper {
  padding-top: 30px;
  text-align: center;
}
#landing #sixth .slider-elem .image-avatar {
  margin-bottom: 15px;
}
#landing #sixth .slider-elem .name {
  font-size: 24px;
}
#landing #sixth .slider-elem .job {
  font-size: 18px;
  font-family: 'LatoLight';
}
#landing #seventh {
  background: url("../images/back-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}
#landing #seventh h2 {
  color: #fff;
  margin-bottom: 60px;
}
#landing #seventh .register {
  color: #fff;
  font-family: 'MarmeladRegular';
  display: inline-block;
  min-width: 450px;
  min-height: 85px;
  padding: 20px 0px;
  font-size: 36px;
  background: url("../images/bee-buttons.png") no-repeat;
  background-position: 0px -286px;
}
#landing footer {
  background: #021b47;
  padding: 60px 0px;
}
#landing footer .width-wrapper {
  max-width: 600px;
}
#landing footer .flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#landing footer .logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#landing footer .logo .width-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#landing footer .logo img {
  margin: 0;
  padding-right: 40px;
}
#landing footer .logo .copyright {
  margin: 0;
  color: #fff;
  padding-right: 20px;
  font-family: 'RobotoRegular';
}
#landing footer .menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#landing footer .menu .width-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#landing footer .menu a {
  margin: 0;
  display: block;
  font-family: 'RobotoBold';
  color: #fff;
}
#landing .slider-rows-multiple img {
  max-width: 100%;
}
#landing .slick-dotted.slick-slider {
  margin-bottom: 130px;
}
#landing .slider-wrapper {
  padding: 0px 100px;
}
#landing .slick-arrow {
  width: 47px;
  height: 134px;
}
#landing .slick-arrow,
#landing .slick-arrow:hover,
#landing .slick-arrow:focus {
  background: url("../images/arrows.png") no-repeat;
}
#landing .slick-arrow.slick-prev {
  left: -100px;
  background-position: 0px -653px;
}
#landing .slick-arrow.slick-next {
  right: -100px;
  background-position: -56px -653px;
}
#landing .slick-arrow:before {
  display: none;
}
#landing .slick-slider .slick-dots {
  bottom: -125px;
}
#landing .slick-slider .slick-dots li {
  margin: 0px 20px;
}
#landing .slick-slider .slick-dots li,
#landing .slick-slider .slick-dots li button,
#landing .slick-slider .slick-dots li button:before {
  height: 27px;
  width: 27px;
}
#landing .slick-slider .slick-dots li button {
  line-height: 27px;
}
#landing .slick-slider .slick-dots li button:before {
  font-size: 28px;
  opacity: 1;
  color: #b8b8b8;
}
#landing .slick-slider .slick-dots li.slick-active button:before {
  color: #c289ff;
}
#landing .slick-slider .slick-list {
  padding: 20px 0px;
}
#landing .fancybox-bg {
  background: #021b47;
}
#landing #modal_popup .slider-wrapper {
  padding: 0px 100px;
}
#landing #modal-slider {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#landing #modal-slider .wrapper {
  background: #fff;
  margin: 0px 20px;
}
#landing #modal-slider .slick-arrow.slick-prev {
  background-position: 0px -474px;
}
#landing #modal-slider .slick-arrow.slick-next {
  background-position: -56px -474px;
}
#landing .bee-button {
  min-width: 290px;
  min-height: 55px;
  font-size: 36px;
  background: url("../images/bee-buttons.png") no-repeat;
  background-position: 0px 0px;
}
