$color-1= #06bcd4
$color-2= #f5f5f5
$color-3= #dcecee

html
  height 100%
body
  height 100%

h1, h2, h3
	font-family: $font-title

#first
    header
        .logo
            flex: 1
        .menu
            display: flex
            justify-content: space-between;
            flex: 1
            a
                margin: 0
                display: block;
                font-family: $font-bold
            // ul
            //     li
            //         display: inline-block;

.slider-rows-multiple
    img
        max-width: 100%
